<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>uWish - Sign Up</title>
    <link rel="stylesheet" th:href="'/style.css'" href="../static/style.css">
</head>
<body>
<h1>Sign Up</h1>

<form action="/uwish/savewisher" th:object="${wisher}" method="POST">
    Username: <input type="text" th:field="*{usn}"/>
    Password: <input type="password" th:field="*{psw}"/>
    <input th:if="${id != null}" type="hidden" th:field="*{id}"/>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>